<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/bootstrap/bootstrap.css" />
    <!--Vendor CSS Files -->
    <link rel="stylesheet" type="text/css" href="../css/basic_structure.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .block {
            box-shadow: 2px 3px 13px -6px black;
        }

        .resale_list {
            position: relative;
        }
    </style>
</head>

<body>
    <!--------------------- side nav ------------------------------>

    <%- include('../partials/structure.ejs') %>


        <!------------------------------- right content -------------------------------------------->
        <div class="main">
            <div class="container-fluid">
                <div id="top-nav" class="row p-2 bg-white justify-content-end">
                    <a href="/logout" class="btn btn-danger p-2 rounded mr-4">Logout</a>
                </div>
                <!---------------------------- main content row start here ---------------------------->
                <div class="container mt-4" id="addAdminForm">
                    <div class="w-75 bg-white border rounded">
                        <h4 class="text-center p-2 bg-primary text-white"> Add New Resale Vehicle</h4>
                        <form method="POST" class="p-4" action="/add_resale_vehicle" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="vehiclename">Vechile Name</label>
                                <input type="text" name="vehiclename" class="form-control" id="vehiclename" placeholder="Enter Vehicle name" required>
                            </div>
                            <div class="form-group">
                                <label for="lastname">Company</label>
                                <input type="text" name="company" class="form-control" id="lastname" placeholder="Enter  Company" required>
                            </div>
                            <div class="form-group">
                                <label for="password">year</label>
                                <input type="text" name="year" class="form-control" id="password" placeholder="Enter Year" required>
                            </div>
                            
                            <div class="form-group">
                                <label for="files">Add photos:</label>
                                <input type="file" id="files" name="vehicleimage" multiple >
                            </div>
                            <div class="p-1">
                                <div class="form-check">
                                    <label class="form-check-label" for="check1">
                                        <input type="checkbox" class="form-check-input" id="check1" name="1" value="1" checked>Option
                                        1
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label" for="check2">
                                        <input type="checkbox" class="form-check-input" id="check2" name="2" value="2">Option
                                        2
                                    </label>
                                </div>
                                
                                <div class="form-check">
                                    <label class="form-check-label" for="check2">
                                        <input type="checkbox" class="form-check-input" id="check2" name="3" value="3">Option
                                        3
                                    </label>
                                </div>
                                
                                <div class="form-check">
                                    <label class="form-check-label" for="check2">
                                        <input type="checkbox" class="form-check-input" id="check2" name="4" value="4">Option
                                        4
                                    </label>
                                </div>
                                
                                <div class="form-check">
                                    <label class="form-check-label" for="check2">
                                        <input type="checkbox" class="form-check-input" id="check2" name="5" value="5">Option
                                        5
                                    </label>
                                </div>
                                
                                <div class="form-check">
                                    <label class="form-check-label" for="check2">
                                        <input type="checkbox" class="form-check-input" id="check2" name="6" value="6">Option
                                        6
                                    </label>
                                </div>
                                
                                <div class="form-check">
                                    <label class="form-check-label" for="check2">
                                        <input type="checkbox" class="form-check-input" id="check2" name="7" value="7">Option
                                        7
                                    </label>
                                </div>
                                
                                <div class="form-check">
                                    <label class="form-check-label" for="check2">
                                        <input type="checkbox" class="form-check-input" id="check2" name="8" value="8">Option
                                        8
                                    </label>
                                </div>
                                
                                <div class="form-check">
                                    <label class="form-check-label" for="check2">
                                        <input type="checkbox" class="form-check-input" id="check2" name="9" value="9">Option
                                        9
                                    </label>
                                </div>
                                
                                <div class="form-check">
                                    <label class="form-check-label" for="check2">
                                        <input type="checkbox" class="form-check-input" id="check2" name="10" value="10">Option
                                        10
                                    </label>
                                </div>
                                
                                <div class="form-check">
                                    <label class="form-check-label" for="check2">
                                        <input type="checkbox" class="form-check-input" id="check2" name="11" value="11">Option
                                        11
                                    </label>
                                </div>

                                
                                <div class="form-check">
                                    <label class="form-check-label" for="check2">
                                        <input type="checkbox" class="form-check-input" id="check2" name="12" value="12">Option
                                        12
                                    </label>
                                </div>
                                
                                <div class="form-check">
                                    <label class="form-check-label" for="check2">
                                        <input type="checkbox" class="form-check-input" id="check2" name="13" value="13">Option
                                        13
                                    </label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>

                </div>
                <!-------------------------- container of search and card end here --------------------->
            </div>

        </div>
        </div>

</body>

<script src="../js/bootstrap/bootstrap.min.js"></script>
<script src="../js/basic_structure.js"></script>

</html>