<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- bootstrap libs  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <link type="text/css" rel="stylesheet" href="../css/simple-sidebar.css">
    <link rel="stylesheet" type="text/css" href="../css/employee_search_input_table.css" />

    <link type="text/css" rel="stylesheet" href="../css/profile_page_general.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <style>
        .block {
            box-shadow: 2px 3px 13px -6px black;
        }

        .resale_list {
            position: relative;
        }
    </style>

</head>

<body>

    <div class="d-flex" id="wrapper">

        <%- include('../partials/responsive_side_bar_admin.ejs') %>

            <!-- Page Content -->
            <div id="page-content-wrapper">

                <nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-between bg-light border-bottom">

                    <a href="javascript:void(0)" class="btn text-primary" id="menu-toggle"><i class="fa fa-bars"></i></a>
                    <div class="">
                        <a href="/webadminlogout" class="btn btn-danger">Logout</a>
                    </div>
                </nav>

                <!-- page content start here -->
                <div class="container mt-4" id="addVehichle_resale">
                    <!-- form  -->
                    <div class="w-100 bg-white border rounded">
                        <h4 class="text-center p-2 bg-primary text-white"> Add New Resale Vehicle</h4>
                        <form method="POST" class="p-4" action="/add_resale_vehicle" enctype="multipart/form-data">
                            <div class="p-1">
                                <p>What you want vehicle for:</p>
                                <div class="form-check">
                                    <label class="form-check-label" for="resale">
                                        <input type="radio" class="form-check-input" id="resale" name="type" value="RESALE">                                        Vehilce
                                        to resale
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label" for="lease">
                                        <input type="radio" class="form-check-input" id="lease" name="type" value="LEASE">                                        Vehivle
                                        to lease
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="vehiclename">Vechile Name</label>
                                <input type="text" name="vehiclename" class="form-control" id="vehiclename" placeholder="Enter Vehicle name" required>
                            </div>
                            <div class="form-group">
                                <label for="lastname">Company</label>
                                <input type="text" name="company" class="form-control" id="lastname" placeholder="Enter  Company" required>
                            </div>
                            <div class="form-group">
                                <label for="password">year</label>
                                <input type="text" name="year" class="form-control" id="password" placeholder="Enter Year" required>
                            </div>

                            <div class="form-group">
                                <label for="password">price</label>
                                <input type="text" name="price" class="form-control" id="password" placeholder="Enter Price" required>
                            </div>

                            <div class="form-group">
                                <label for="files">Add photos:</label>
                                <input type="file" id="files" name="vehicleimage" multiple>
                            </div>
                            <div class="p-1">
                                <div class="form-check">
                                    <label class="form-check-label" for="check1">
                                        <input type="checkbox" class="form-check-input" id="check1" name="a" value="a" checked>                                        Ownership
                                        (RC)
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label" for="check2">
                                        <input type="checkbox" class="form-check-input" id="check2" name="b" value="b"> Insurance
                                        Papers
                                    </label>
                                </div>

                                <div class="form-check">
                                    <label class="form-check-label" for="check2">
                                        <input type="checkbox" class="form-check-input" id="check2" name="c" value="c"> Re-sold
                                        Vehicle check and clearances
                                    </label>
                                </div>

                                <div class="form-check">
                                    <label class="form-check-label" for="check2">
                                        <input type="checkbox" class="form-check-input" id="check2" name="d" value="d"> Road
                                        Tax Receipt
                                    </label>
                                </div>

                                <div class="form-check">
                                    <label class="form-check-label" for="check2">
                                        <input type="checkbox" class="form-check-input" id="check2" name="e" value="e"> Vehicle
                                        Service Book
                                    </label>
                                </div>

                                <div class="form-check">
                                    <label class="form-check-label" for="check2">
                                        <input type="checkbox" class="form-check-input" id="check2" name="f" value="f"> Loan
                                        clearance check
                                    </label>
                                </div>

                                <div class="form-check">
                                    <label class="form-check-label" for="check2">
                                        <input type="checkbox" class="form-check-input" id="check2" name="g" value="g"> Pollution
                                        certificate
                                    </label>
                                </div>

                                <div class="form-check">
                                    <label class="form-check-label" for="check2">
                                        <input type="checkbox" class="form-check-input" id="check2" name="h" value="h"> Engine
                                        and Chassis check
                                    </label>
                                </div>

                                <div class="form-check">
                                    <label class="form-check-label" for="check2">
                                        <input type="checkbox" class="form-check-input" id="check2" name="i" value="i"> Body
                                        (includes Front, Rear, Sides and Fuel Tank checks)
                                    </label>
                                </div>

                                <div class="form-check">
                                    <label class="form-check-label" for="check2">
                                        <input type="checkbox" class="form-check-input" id="check2" name="j" value="j">                                        Cabin
                                    </label>
                                </div>

                                <div class="form-check">
                                    <label class="form-check-label" for="check2">
                                        <input type="checkbox" class="form-check-input" id="check2" name="k" value="k">                                        Tyres
                                    </label>
                                </div>


                                <div class="form-check">
                                    <label class="form-check-label" for="check2">
                                        <input type="checkbox" class="form-check-input" id="check2" name="l" value="l">                                        Other
                                        important declarations - check and clearances
                                    </label>
                                </div>


                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                    <br><br>
                </div>
                <!-- Page content end here  -->
            </div>
            <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->







    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

</body>
<script>
    var perfEntries = performance.getEntriesByType("navigation");

    if (perfEntries[0].type === "back_forward") {
        location.reload(true);
    }
</script>

</html>