<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!--<link rel="stylesheet" type="text/css" href="./css/bootstrap/bootstrap.min.css" />-->
    <link rel="stylesheet" type="text/css" href="../css/bootstrap/bootstrap.css" />
    <!--Vendor CSS Files -->

    <link rel="stylesheet" type="text/css" href="../css/basic_structure.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap cdn -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body>
    <!--------------------- side nav ------------------------------>


    <!-- <%- include('../partials/structure.ejs') %> -->
    <div class="sidenav">
        <div class="row justify-content-center mb-4">
            <img src="../images/logo.jpg" alt="logo here" width="70" height="70">
        </div>
        <a href="/webadmin">My Profile</a>
        <a href="/webmine">Mines</a>
        <a href="/">Add official</a>
        <!-- finance menu -->
        <button class="dropdown-btn align-self-baseline"> Finance Dept
            <i class="fa fa-caret-down mt-1"></i>
        </button>
        <div class="dropdown-container">
            <a href="#">Finance official Request</a>
            <a href="/webfinanceall">All Finance official</a>
        </div>
        <!-- transporter menu -->
        <button class="dropdown-btn align-self-baseline"> Transporter Dept
            <i class="fa fa-caret-down mt-1"></i>
        </button>
        <div class="dropdown-container">
            <a href="#">Transporter official Request</a>
            <a href="/webtransporterall">All Transporter official</a>
        </div>
        <!--  Area Manager menu -->
        <button class="dropdown-btn align-self-baseline"> Area Manager Dept
            <i class="fa fa-caret-down mt-1"></i>
        </button>
        <div class="dropdown-container">
            <a href="#"> Area Manager official Request</a>
            <a href="/webareamanagerall">All Area Manager official</a>
        </div>
        <!-- Field Staff menu -->
        <button class="dropdown-btn align-self-baseline"> Field Staff Dept
            <i class="fa fa-caret-down mt-1"></i>
        </button>
        <div class="dropdown-container">
            <a href="#"> Field Staff official Request</a>
            <a href="/webfieldstaffall">All Field Staff official</a>
        </div>
        <a href="/webinvoiceall">Invoice Reports</a>
        <!-- Vehicle Owner menu -->
        <button class="dropdown-btn align-self-baseline"> Vechicle Owner
            <i class="fa fa-caret-down mt-1"></i>
        </button>
        <div class="dropdown-container">
            <a href="#">Vehicle Owner Request</a>
            <a href="/webvehicleownerall">All Vehicle Owners</a>
        </div>
        <a href="resale.html">Resale</a>
        <a href="#rewards">Rewards</a>
    </div>

    <!------------------------------- right content -------------------------------------------->
    <div class="main">
        <div class="container-fluid">
            <div id="top-nav" class="row p-2 bg-white justify-content-end">
                <a href="/logout" class="btn btn-danger p-2 rounded mr-4">Logout</a>
            </div>
            <!---------------------------- main content row start here --------------------------------->

            <div class="row p-3 ">
                <div class="container-fluid">
                    <div class="row d-flex align-items-baseline">
                        <h4 class="mr-2">Add a new </h4>
                        <a href="javascript:void(0)" class="btn btn-primary mr-2" onclick="addAdminForm()">Admin</a>
                        <p>Or</p>
                        <a href="javascript:void(0)" class="btn btn-success ml-2 mr-2" onclick="addFinanceForm()"> Finance
                            admin
                        </a>
                    </div>
                </div>

                <div class="container mt-4" style="display: none" id="addAdminForm">
                    <div class="w-75 bg-white border rounded">
                        <h4 class="text-center p-2 bg-primary text-white"> App Admin Form</h4>
                        <form method="POST" class="p-4" action="/addNewAdmin">
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" required>
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                    else.
                                </small>
                            </div>
                            <div class="form-group">
                                <label for="first_name">First Name</label>
                                <input type="text" name="firstname" class="form-control" id="firstname" placeholder="Enter First Name" required>
                            </div>
                            <div class="form-group">
                                <label for="lastname">Last Name</label>
                                <input type="text" name="lastname" class="form-control" id="lastname" placeholder="Enter Last name" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="text" name="password" class="form-control" id="password" placeholder="Enter new Password" required>
                            </div>
                            <div class="form-group">
                                <label for="mobile">Mobile</label>
                                <input type="text" name="mobile" class="form-control" id="mobile" placeholder="Enter mobile number" required>
                            </div>
                            <div class="form-group">
                                <label for="accountno">Account Number</label>
                                <input type="text" name="accountno" class="form-control" id="accountno" placeholder="Enter Account number" required>
                            </div>
                            <div class="form-group">
                                <label for="IFSC">IFSC Code</label>
                                <input type="text" name="ifsc" class="form-control" id="ifsc" placeholder="Enter IFSC code" required>
                            </div>
                            <div class="form-group">
                                <label for="bankname">Bank Name</label>
                                <input type="text" name="bankname" class="form-control" id="bankname" placeholder="Enter Bank Name" required>
                            </div>
                            <div class="form-group">
                                <label for="city">city</label>
                                <input type="text" name="city" class="form-control" id="city" placeholder="Enter city" required>
                            </div>
                            <div class="form-group">
                                <label for="pan">PAN</label>
                                <input type="text" name="pan" class="form-control" id="pan" placeholder="Enter PAN" required>
                            </div>
                            <div class="form-group">
                                <label for="Aadhar">Aadhar</label>
                                <input type="text" name="aadhaar" class="form-control" id="aadhaar" placeholder="Enter Aadhar number" required>
                            </div>
                            <div class="form-group">
                                <label for="ename">Emergengy contact Person Name</label>
                                <input type="text" name="ename" class="form-control" id="ename" placeholder="Emergengy contact Person Name" required>
                            </div>
                            <div class="form-group">
                                <label for="erelation">Emergengy Relation with Emergengy Person</label>
                                <input type="text" name="erelation" class="form-control" id="erelation" placeholder="Enter Realation with Emergency person"
                                    required>
                            </div>
                            <div class="form-group">
                                <label for="emobile">Emergency contact</label>
                                <input type="text" name="emobile" class="form-control" id="emobile" placeholder="Enter Emergengy contact " required>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>

                </div>

                <div class="container mt-4 " style="display: none" id="addFinanceForm">
                    <div class="w-75 bg-white border rounded">
                        <h4 class="text-center p-2 text-white bg-success"> Finance Admin Form</h4>
                        <form method="POST" class="p-4" action="/addNewFinance">
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" required>
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                    else.
                                </small>
                            </div>
                            <div class="form-group">
                                <label for="first_name">First Name</label>
                                <input type="text" name="firstname" class="form-control" id="firstname" placeholder="Enter First Name" required>
                            </div>
                            <div class="form-group">
                                <label for="lastname">Last Name</label>
                                <input type="text" name="lastname" class="form-control" id="lastname" placeholder="Enter Last name" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="text" name="password" class="form-control" id="password" placeholder="Enter new Password" required>
                            </div>
                            <div class="form-group">
                                <label for="mobile">Mobile</label>
                                <input type="text" name="mobile" class="form-control" id="mobile" placeholder="Enter mobile number" required>
                            </div>
                            <div class="form-group">
                                <label for="accountno">Account Number</label>
                                <input type="text" name="accountno" class="form-control" id="accountno" placeholder="Enter Account number" required>
                            </div>
                            <div class="form-group">
                                <label for="IFSC">IFSC Code</label>
                                <input type="text" name="ifsc" class="form-control" id="ifsc" placeholder="Enter IFSC code" required>
                            </div>
                            <div class="form-group">
                                <label for="bankname">Bank Name</label>
                                <input type="text" name="bankname" class="form-control" id="bankname" placeholder="Enter Bank Name" required>
                            </div>
                            <div class="form-group">
                                <label for="city">city</label>
                                <input type="text" name="city" class="form-control" id="city" placeholder="Enter city" required>
                            </div>
                            <div class="form-group">
                                <label for="pan">PAN</label>
                                <input type="text" name="pan" class="form-control" id="pan" placeholder="Enter PAN" required>
                            </div>
                            <div class="form-group">
                                <label for="Aadhar">Aadhar</label>
                                <input type="text" name="aadhaar" class="form-control" id="aadhaar" placeholder="Enter Aadhar number" required>
                            </div>
                            <div class="form-group">
                                <label for="ename">Emergengy contact Person Name</label>
                                <input type="text" name="ename" class="form-control" id="ename" placeholder="Emergengy contact Person Name" required>
                            </div>
                            <div class="form-group">
                                <label for="erelation">Emergengy Relation with Emergengy Person</label>
                                <input type="text" name="erelation" class="form-control" id="erelation" placeholder="Enter Realation with Emergency person"
                                    required>
                            </div>
                            <div class="form-group">
                                <label for="emobile">Emergency contact</label>
                                <input type="text" name="emobile" class="form-control" id="emobile" placeholder="Enter Emergengy contact " required>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

</body>

<script>
    function addAdminForm() {
        console.log("hello1")

        var adminForm = document.getElementById("addAdminForm");
        var financeForm = document.getElementById("addFinanceForm");
        if (adminForm.style.display == "none") {
            if (financeForm.style.display == "block")
                financeForm.style.display = "none";
            adminForm.style.display = "block";
        }
        else {
            adminForm.style.display = "none";
        }
    }

    function addFinanceForm() {
        var adminForm = document.getElementById("addAdminForm");
        var financeForm = document.getElementById("addFinanceForm");

        if (financeForm.style.display == "none") {
            if (adminForm.style.display == "block") {
                adminForm.style.display = "none"
            }
            financeForm.style.display = "block";
        }
        else {
            financeForm.style.display = "none";
        }
    }
</script>

<script src="../js/bootstrap/bootstrap.min.js"></script>
<script src="../js/basic_structure.js"></script>


</html>