<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/bootstrap/bootstrap.css" />
    <!--Vendor CSS Files -->

    <link rel="stylesheet" type="text/css" href="../css/basic_structure.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <!--------------------- side nav ------------------------------>

    <%- include('../partials/structure.ejs') %>

        <!------------------------------- right content -------------------------------------------->
        <div class="main">
            <div class="container-fluid">
                <div id="top-nav" class="row p-2 bg-white justify-content-end">
                    <a href="/webadminlogout" class="btn btn-danger p-2 rounded mr-4">Logout</a>
                </div>
                <!---------------------------- main content row start here-->
                <div class="row p-3 ">
                    <div class="w-100 border-bottom">
                        <h3>Welcome
                            <%= data.admin.name %>
                        </h3>
                    </div>
                    <div class="container-fluid">
                        <div class="w-75 p-4">
                            <form method="POST" action="/webadminedit">
                                <div class="form-group">
                                    <label for="email">Email address</label>
                                    <input type="email" name="email" value="<%= data.admin.email %>" class="form-control" id="email" aria-describedby="emailHelp"
                                        placeholder="Enter email" required>
                                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                                        anyone else.
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label for="first_name"> Name</label>
                                    <input type="text" name="name" class="form-control" value="<%= data.admin.name %>" id="firstname" placeholder="Enter First Name"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="mobile">Mobile</label>
                                    <input type="text" name="mobile" class="form-control" value="<%= data.admin.mobile %>" id="mobile" placeholder="Enter mobile number"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="accountno">Account Number</label>
                                    <input type="text" name="accountno" class="form-control" value="<%= data.admin.accountno %>" id="accountno" placeholder="Enter Account number"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="IFSC">IFSC Code</label>
                                    <input type="text" name="ifsc" class="form-control" value="<%= data.admin.ifsc %>" id="ifsc" placeholder="Enter IFSC code"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="bankname">Bank Name</label>
                                    <input type="text" name="bankname" class="form-control" value="<%= data.admin.bankname %>" id="bankname" placeholder="Enter Bank Name"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="pan">PAN</label>
                                    <input type="text" name="pan" class="form-control" value="<%= data.admin.pan %>" id="pan" placeholder="Enter PAN" required>
                                </div>
                                <div class="form-group">
                                    <label for="Aadhar">Aadhar</label>
                                    <input type="text" name="aadhaar" class="form-control" value="<%= data.admin.aadhaar %>" id="aadhaar" placeholder="Enter Aadhar number"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="ename">Emergengy contact Person Name</label>
                                    <input type="text" name="ename" class="form-control" value="<%= data.admin.ename %>" id="ename" placeholder="Emergengy contact Person Name"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="erelation">Emergengy Relation with Emergengy Person</label>
                                    <input type="text" name="erelation" class="form-control" value="<%= data.admin.erelation %>" id="erelation" placeholder="Enter Realation with Emergency person"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="emobile">Emergency contact</label>
                                    <input type="text" name="emobile" class="form-control" value="<%= data.admin.emobile %>" id="emobile" placeholder="Enter Emergengy contact "
                                        required>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>

</body>



<script src="../js/bootstrap/bootstrap.min.js"></script>
<script src="../js/basic_structure.js"></script>

</html>