<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/bootstrap/bootstrap.css" />
    <!--Vendor CSS Files -->

    <link rel="stylesheet" type="text/css" href="../css/basic_structure.css" />
    <link rel="stylesheet" type="text/css" href="../css/approval_request_general.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- bootstrap  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        #right_side_pane
        {
            position: absolute;
            display: none;
            height: 100vh;
            overflow-y: scroll;
            width: 0%;
        }
        #right_side_pane > div:first-child
        {
            position: fixed;
            z-index: 5;
            width: 49%;
            background: rgb(92, 86, 86);
            
        }
        #right_side_pane > div:last-child
        {
        margin-top: 100px;
        }
        #right_side_pane #document_container img
        {
            width: inherit;
            margin-bottom: 25px;
        }
    </style>
</head>

<body>
    <!--------------------- side nav ------------------------------>
 
    <%- include('../partials/structure.ejs') %>

    <!-------------------------------main content other than basic structure ------------------------------>


    <!------------------------------------------ right content -------------------------------------------->

    <div id="rejection_form_model" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Modal Heading</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <h4>Please Select the reason for rejection </h4>
                    <form method="POST" id="reject_form" class="p-4" action="">
                        <div class="form-check">
                            <label class="form-check-label" for="check1">
                                <input type="checkbox" class="form-check-input" id="check1" name="aadhaar" value="aadhaarimage" checked>Aadhar
                                incorrect
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label" for="check2">
                                <input type="checkbox" class="form-check-input" id="check2" name="pan" value="panimage">Problem
                                with Pan
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="bg-dark container" id="right_side_pane">
        <div class="row justify-content-between p-4">
            <div>
                <a href="" id="approve_btn" class="btn btn-success mr-2">Approve</a>
                <a href="javascript:void(0)" id="reject_btn" data-toggle="modal" data-target="#rejection_form_model" class="btn btn-danger mr-2">Reject</a>
            </div>
            <a href="javascript:void(0)" class="h2" onclick="close_side_pane()"><i class="fa fa-close text-danger"></i></a>
        </div>
        <div class="pl-4 pr-4 ">
            <div class="p-3 text-white w-100">
                <table>
                    <tr>
                        <th>Name:</th>
                        <td id="name">8767876545</td>
                    </tr>
                    <tr>
                        <th>Mobile:</th>
                        <td id="email">8767876545</td>
                    </tr>
                    <tr>
                        <th>Email:</th>
                        <td id="mobile">8767876545</td>
                    </tr>
                    <tr>
                        <th>bankname:</th>
                        <td id="bankname">xyz@gmail.com</td>
                    </tr>
                    <tr>
                        <th>accountno:</th>
                        <td id="accountno">8767876545</td>
                    </tr>
                    <tr>
                        <th>ifsc:</th>
                        <td id="ifsc">xyz@gmail.com</td>
                    </tr>
                    <tr>
                        <th>aadhar:</th>
                        <td id="aadhaar">Bhopal</td>
                    </tr>
                    <tr>
                        <th>pan:</th>
                        <td id="pan">Bhopal</td>
                    </tr>
                </table>
            </div>
            <div class="container" id="document_container">
                <div class="row w-100">
                    <div class="col-12">
                        <img target="_blank" id="aadhaarimage" alt="not avaliable">
                    </div>
                    <div class="col-12">
                        <img target="_blank" id="panimage" alt="not avaliable">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main">
        <div class="container-fluid">
            <div id="top-nav" class="row p-2 bg-white justify-content-end">
                <a href="/logout" class="btn btn-danger p-2 rounded mr-4">Logout</a>
            </div>
            <!---------------------------- main content row start here-->
            <div class="row p-3 ">
                <div class="w-100 text-center text-primary border-bottom">
                    <h3>FieldStaff Approval Request</h3>
                </div>
                <div class="container-fluid">
                    <% for (var i =0; i < data.fieldstaff.length;  i++ ) { %>
                        <div id="request-card" class="row mb-4 d-flex align-items-end justify-content-between p-3 bg-white">
                            <div id="">
                                <h5>
                                    <%= data.fieldstaff[i].name %> (
                                        <%= data.fieldstaff[i].mobile %>)
                                </h5>
                                <p>Email :
                                    <%= data.fieldstaff[i].email %>
                                </p>
                                <a href="javascript:void(0)" onclick="showRequestDetails(<%= i %> , <%= data.fieldstaff[i].mobile %>)" class="btn btn-primary">Show
                                    more details
                                </a>
                            </div>

                        </div>
                        <% } %>
                </div>
            </div>
        </div>
        <!-- <div class="bg-dark p-4 container-fluid" id="right_side_pane">

        </div> -->
    </div>


</body>
<!-------------------------------open side pane script ------------------------------------->

<script>
  
        function showRequestDetails(index, mobile) {
            var right_pane = document.getElementById("right_side_pane");
            if (right_pane.style.display == "block") {
                right_pane.style.width = "0%";
                right_pane.style.display = "none";
            }
            else {
                
                //send ajax request to a api
            var xmlhttp = new XMLHttpRequest();
            var url = "/getfieldstaffdata/" + mobile;
            xmlhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var data = JSON.parse(this.responseText);
                   //(data)
                    placeInPane(data, mobile);
                }
            };
            xmlhttp.open("GET", url, true);
            xmlhttp.send();
            right_pane.style.width = "50%";
            right_pane.style.right = "0";
            right_pane.style.display = "block";
            }
        }
    function close_side_pane() {
        var right_pane = document.getElementById("right_side_pane");
        right_pane.style.width = "0%";
        right_pane.style.display = "none";
    }
    function placeInPane(data,mobile) {
        var i = 0;

        var keys = Object.keys(data)
       

        document.getElementById('name').innerHTML = data.sta;
        document.getElementById('email').innerHTML = data.email;
        document.getElementById('aadhaar').innerHTML = data.aadhaar;
        document.getElementById('mobile').innerHTML = data.mobile;
        document.getElementById('pan').innerHTML = data.sta;
        document.getElementById('accountno').innerHTML = data.accountno;
        document.getElementById('bankname').innerHTML = data.bankname;
        document.getElementById('ifsc').innerHTML = data.ifsc;

      
        document.getElementById('aadhaarimage').setAttribute('onclick', "window.open('data:image/png;base64"+ data.aadhaarimage + " ', '_blank')");
        document.getElementById('aadhaarimage').setAttribute('src', "data:image/png;base64," + data.aadhaarimage)

        document.getElementById('panimage').setAttribute('onclick', "window.open('data:image/png;base64"+ data.panimage + " ', '_blank')");
        document.getElementById('panimage').setAttribute('src', "data:image/png;base64," + data.panimage)

        document.getElementById("approve_btn").setAttribute('href', "/fieldstaff_request_action/"+ mobile)
        document.getElementById("reject_form").setAttribute('action', "/fieldstaff_request_action/"+ mobile)

    }
</script>

<script>
    function openImage(imgaddress) {
       
        window.open(imgaddress ,  '_blank');

    }
</script>

<script src="../js/bootstrap/bootstrap.min.js"></script>
<script src="../js/basic_structure.js"></script>

</html>