<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!-- Vendor CSS Files -->

  <link rel="stylesheet" type="text/css" href="../css/login.css" />
</head>

<body class="align-items-center">

  <div id="container-top" class="d-flex justify-content-center align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <img src="../images/logo.jpg" alt="logo here" width="100" height="100">
      </div>
      <br>
      <div id="" class="row d-flex justify-content-center">
        <div id="form-div" class="col-lg-5 col-md-7 col-sm-10 p-4 rounded border shadow">

          <!-- warning messga efor wrong password or mobile  -->
          <% if(data.message != ""){ %>
            <div class="alert alert-<%=data.color %>">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>Alert!</strong> <%= data.message %>
            </div>
            <% } %>
              <!-- Login Form -->
              <form method="POST" action="/">
                <div class="form-group">
                  <label for="mobile">Mobile number:</label>
                  <input type="mobile" name="mobile" class="form-control" id="mobile">
                </div>
                <div class="form-group">
                  <label for="pwd">Password:</label>
                  <input type="password" name="password" class="form-control" id="pwd">
                </div>
                <div class="form-group">
                  <label for="select">Select Role:</label>
                  <select name="role" class="form-control" id="select">
                    <option value="admin">Transfly Admin</option>
                    <option value="finance">Finance Admin</option>
                  </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
      </div>
    </div>
  </div>

</body>

</html>