<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/bootstrap/bootstrap.css" />
    <!--Vendor CSS Files -->
    <link rel="stylesheet" type="text/css" href="../css/basic_structure.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .block {
            box-shadow: 2px 3px 13px -6px black;
        }

        .resale_list {
            position: relative;
        }
    </style>
</head>

<body>
    <!--------------------- side nav ------------------------------>

    <%- include('../partials/structure.ejs') %>


        <!------------------------------- right content -------------------------------------------->
        <div class="main">
            <div class="container-fluid">
                <div id="top-nav" class="row p-2 bg-white justify-content-end">
                    <a href="/webadminlogout" class="btn btn-danger p-2 rounded mr-4">Logout</a>
                </div>
                <!---------------------------- main content row start here ---------------------------->
                <div class="container-fluid">
                    <div class="row my-3">
                        <div id="search-input-row" class="w-75 w-md-100">
                            <input type="text" class="w-100 rounded" id="searchInput" onkeyup="filterVehicle()" placeholder="  Search for anything to filter data.."
                                title="Type in a name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 p-2 col-lg-4 col-sm-12">
                            <div class="thumbnail border rounded p-1  resale_list">
                                <a href="/w3images/fjords.jpg" target="_blank">
                                    <img src="../images/fieldstaff.jpg" alt="Fjords" style="width:100%">
                                </a>
                                <div class="caption bg-white d-flex justify-content-center">
                                    <table>
                                        <tr>
                                            <th>Name</th>
                                            <td>Tata Pickup</td>
                                        </tr>
                                        <tr>
                                            <th>Tyres</th>
                                            <td>16</td>
                                        </tr>
                                        <tr>
                                            <th>Condition</th>
                                            <td>Good</td>
                                        </tr>
                                        <tr>
                                            <th>Vehicle no</th>
                                            <td>Mp0431245</td>
                                        </tr>
                                        <tr>
                                            <th>VEhicle Owner</th>
                                            <td>Ram Seethapathy</td>
                                        </tr>
                                    </table>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6 p-2 col-lg-4 col-sm-12">
                            <div class="thumbnail border rounded p-1  resale_list">
                                <a href="/w3images/fjords.jpg" target="_blank">
                                    <img src="../images/fieldstaff.jpg" alt="Fjords" style="width:100%">
                                </a>
                                <div class="caption bg-white d-flex justify-content-center">
                                    <table>
                                        <tr>
                                            <th>Name</th>
                                            <td>Safari</td>
                                        </tr>
                                        <tr>
                                            <th>Tyres</th>
                                            <td>13</td>
                                        </tr>
                                        <tr>
                                            <th>Condition</th>
                                            <td>Good</td>
                                        </tr>
                                        <tr>
                                            <th>Vehicle no</th>
                                            <td>MP05654544</td>
                                        </tr>
                                        <tr>
                                            <th>VEhicle Owner</th>
                                            <td>Vinay Shamra</td>
                                        </tr>
                                    </table>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6 p-2 col-lg-4 col-sm-12">
                            <div class="thumbnail border rounded p-1  resale_list">
                                <a href="/w3images/fjords.jpg" target="_blank">
                                    <img src="../images/fieldstaff.jpg" alt="Fjords" style="width:100%">
                                </a>
                                <div class="caption bg-white d-flex justify-content-center">
                                    <table>
                                        <tr>
                                            <th>Name</th>
                                            <td>Safari</td>
                                        </tr>
                                        <tr>
                                            <th>Tyres</th>
                                            <td>13</td>
                                        </tr>
                                        <tr>
                                            <th>Condition</th>
                                            <td>Good</td>
                                        </tr>
                                        <tr>
                                            <th>Vehicle no</th>
                                            <td>MP05654544</td>
                                        </tr>
                                        <tr>
                                            <th>VEhicle Owner</th>
                                            <td>Vinay Shamra</td>
                                        </tr>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-------------------------- container of search and card end here --------------------->
            </div>

        </div>
        </div>

</body>
<script>
    function filterVehicle() {
        var input, filter, table, tr, td, i, j, txtValue, no_of_col;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        cardlist = document.getElementsByClassName("resale_list");
        console.log(cardlist)
        for (i = 0; i < cardlist.length; i++) {
            console.log(cardlist[i])
            console.log(cardlist[i].lastElementChild)
            table = cardlist[i].lastElementChild.getElementsByTagName('table');
            tr = table[0].getElementsByTagName("tr");
            console.log(table)
            console.log(tr)
            for (k = 0; k < tr.length; k++) {
                td = tr[k].getElementsByTagName("td");
                console.log(td[0])
                if (td[0]) {
                    txtValue = td[0].textContent || td[0].innerText;
                    console.log(txtValue);
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        cardlist[i].parentNode.style.display = "block";
                        cardlist[i].parentNode.style.visibilty = "visible";
                        break;
                    } else {
                        cardlist[i].parentNode.style.display = "none";
                        cardlist[i].parentNode.style.visibilty = "collapse";

                    }
                }
            }

        }
        // no_of_col = tr[0].getElementsByTagName('th').length;
        // for (i = 0; i < tr.length; i++) {
        //     for (j = 0; j < no_of_col; j++) {
        //         td = tr[i].getElementsByTagName("td")[j];
        //         if (td) {
        //             txtValue = td.textContent || td.innerText;
        //             console.log(txtValue);
        //             if (txtValue.toUpperCase().indexOf(filter) > -1) {
        //                 tr[i].style.display = "";
        //                 break;
        //             } else {
        //                 tr[i].style.display = "none";
        //             }
        //         }
        //     }

        // }

    }
</script>

<script src="../js/bootstrap/bootstrap.min.js"></script>
<script src="../js/basic_structure.js"></script>

</html>