<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/bootstrap/bootstrap.css" />
    <!--Vendor CSS Files -->
    <link rel="stylesheet" type="text/css" href="../css/basic_structure.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .block {
            box-shadow: 2px 3px 13px -6px black;
        }

        .resale_list {
            position: relative;
        }
    </style>
</head>

<body>
    <!--------------------- side nav ------------------------------>

    <%- include('../partials/structure.ejs') %>


        <!------------------------------- right content -------------------------------------------->
        <div class="main">
            <div class="container-fluid">
                <div id="top-nav" class="row p-2 bg-white justify-content-end">
                    <a href="/logout" class="btn btn-danger p-2 rounded mr-4">Logout</a>
                </div>
                <!---------------------------- main content row start here ---------------------------->
                <div class="container-fluid mt-4 ">

                    <div class="row mb-4 d-flex justify-content-center">
                        <h3>Referral and Rewards Section</h3>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <!-- referral form -->
                        <div class="col-lg-6  col-md-6 col-sm-12">
                            <div class="form p-2  bg-white border rounded">
                                <h4 class="text-center p-2 rounded-bottom bg-primary text-white"> Update Referrals</h4>
                                <form method="POST" class="p-4" action="/reward_referral/referral" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label for="displaytext">Display Text</label>
                                        <input type="text" name="text" class="form-control" id="displaytext">
                                    </div>
                                    <div class="form-group">
                                        <label for="files">Display Images:</label>
                                        <input type="file" id="files" name="image" >
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>

                        <!-- rewards form -->
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form p-2  bg-white border rounded">
                                <h4 class="text-center p-2 rounded-bottom bg-success text-white"> Update Rewards</h4>
                                <form method="POST" class="p-4" action="/reward_referral/reward" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label for="displaytext">Display Text</label>
                                        <input type="text" name="text" class="form-control" id="displaytext">
                                    </div>
                                    <div class="form-group">
                                        <label for="files">Display Images:</label>
                                        <input type="file" id="files" name="image" >
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-------------------------- container of forms  --------------------->
            </div>

        </div>
        </div>

</body>

<script src="../js/bootstrap/bootstrap.min.js"></script>
<script src="../js/basic_structure.js"></script>

</html>