
#invoiceTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
  }
  
  #invoiceTable th, #invoiceTable td {
    text-align: left;
    padding: 12px;
  }
  
  #invoiceTable tr {
    border-bottom: 1px solid #ddd;
  }
  
  #invoiceTable tr.header, #invoiceTable tr:hover {
    background-color: #f1f1f1;
  }
  #search-input-row input
  {
    border: 1px solid #4dd0e1;
    box-shadow: 0 0 0 1px #4dd0e1;  
  }