<!--------------------- side nav ------------------------------>
<div class="sidenav">
    <div class="row justify-content-center mb-4">
        <img src="../images/logo.jpg" alt="logo here" width="70" height="70">
    </div>
    <a href="/webfinance">My Profile</a>
    <a href="/updatefinanceprofile">Update your profile</a>
    <!-- Vehicle Owner menu -->
    <button class="dropdown-btn align-self-baseline"> Invoice Reports
        <i class="fa fa-caret-down mt-1"></i>
    </button>
    <div class="dropdown-container">
        <a href="/webfinanceinvoice?status=PENDING&page=1">Pending Invoice Request</a>
        <a href="/webfinanceinvoice?status=COMPLETED&page=1">All Completed Invoices</a>
    </div>
</div>