<!-- Sidebar -->
<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading d-flex justify-content-center">
        <img src="../images/logo.jpg" width="100" height="100" alt="">
    </div>
    <div class="list-group list-group-flush">
        <a href="/webadmin" class="list-group-item list-group-item-action bg-light">My Profile</a>
        <a href="/webmine" class="list-group-item list-group-item-action bg-light">Mines</a>
        <a href="/addofficial" class="list-group-item list-group-item-action bg-light">Add Offcial</a>
        <a href="/webfinanceall" class="list-group-item list-group-item-action bg-light">All Finance Offcial</a>

        <a href="#" data-toggle="collapse" data-target="#transportermenu" class="list-group-item nav-link collapsed  list-group-item-action bg-light">
            Transporter Dept
            <i class="fa fa-caret-down mt-1"></i>
        </a>
        <div class="collapse" id="transportermenu" aria-expanded="false">
            <ul class="flex-column nav pl-4">
                <li class="nav-item">
                    <a class="nav-link p-1" href="/transporterrequest"> Transporter official Request</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-1" href="/webtransporterall">All Transporter official </a>
                </li>
            </ul>
        </div>

        <!-- area manager  -->
        <a href="#" data-toggle="collapse" data-target="#AreaManagermenu" class="list-group-item nav-link collapsed  list-group-item-action bg-light">
            Area Manager
            <i class="fa fa-caret-down mt-1"></i>
        </a>
        <div class="collapse" id="AreaManagermenu" aria-expanded="false">
            <ul class="flex-column nav pl-4">
                <li class="nav-item">
                    <a class="nav-link p-1" href="/areamanagerrequest"> AreaManagers Request</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-1" href="/webareamanagerall">All Areamanager official </a>
                </li>
            </ul>
        </div>

        <!-- Field staff   -->
        <a href="#" data-toggle="collapse" data-target="#fieldstaffmenu" class="list-group-item nav-link collapsed  list-group-item-action bg-light">
            Fieldstaff
            <i class="fa fa-caret-down mt-1"></i>
        </a>
        <div class="collapse" id="fieldstaffmenu" aria-expanded="false">
            <ul class="flex-column nav pl-4">
                <li class="nav-item">
                    <a class="nav-link p-1" href="/fieldstaffrequest"> fieldstaff Request</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-1" href="/webfieldstaffall">All fieldstaff official </a>
                </li>
            </ul>
        </div>

        <a href="/webinvoiceall?page=0" class="list-group-item list-group-item-action bg-light">Invoice Reports</a>

        <!-- Vehicle Owner   -->
        <a href="#" data-toggle="collapse" data-target="#vehicleownermenu" class="list-group-item nav-link collapsed  list-group-item-action bg-light">
            Vehicle Owner
            <i class="fa fa-caret-down mt-1"></i>
        </a>
        <div class="collapse" id="vehicleownermenu" aria-expanded="false">
            <ul class="flex-column nav pl-4">
                <li class="nav-item">
                    <a class="nav-link p-1" href="/vehiclerequest"> Vehicle Approval Request</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-1" href="/vehicleownerrequest"> Vehicle Owner Request</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-1" href="/webvehicleownerall?page=0">All Vehicle Owner </a>
                </li>
            </ul>
        </div>

        <a href="/add_resale_vehicle" class="list-group-item list-group-item-action bg-light">Add Resale vehicle</a>
        <a href="/reward_referral" class="list-group-item list-group-item-action bg-light">Reward/ Referral/ HotDeals</a>
    </div>
</div>
<!-- /#sidebar-wrapper -->