<div class="sidenav">
    <div class="row justify-content-center mb-4">
        <img src="../images/logo.jpg" alt="logo here" width="70" height="70">
    </div>
    <a href="/webadmin">My Profile</a>
    <a href="/webmine">Mines</a>
    <!-- finance menu -->
    <button class="dropdown-btn align-self-baseline"> Finance Dept
        <i class="fa fa-caret-down mt-1"></i>
    </button>
    <div class="dropdown-container">
        <a href="#">Finance official Request</a>
        <a href="/webfinanceall">All Finance official</a>
    </div>
    <!-- transporter menu -->
    <button class="dropdown-btn align-self-baseline"> Transporter Dept
        <i class="fa fa-caret-down mt-1"></i>
    </button>
    <div class="dropdown-container">
        <a href="#">Transporter official Request</a>
        <a href="/webtransporterall">All Transporter official</a>
    </div>
     <!--  Area Manager menu -->
     <button class="dropdown-btn align-self-baseline"> Area Manager Dept
        <i class="fa fa-caret-down mt-1"></i>
    </button>
    <div class="dropdown-container">
        <a href="#"> Area Manager official Request</a>
        <a href="/webareamanagerall">All  Area Manager official</a>
    </div> 
    <!-- Field Staff menu -->
    <button class="dropdown-btn align-self-baseline"> Field Staff Dept
       <i class="fa fa-caret-down mt-1"></i>
   </button>
   <div class="dropdown-container">
       <a href="#"> Field Staff official Request</a>
       <a href="/webfieldstaffall">All Field Staff official</a>
   </div>
    <a href="#reports">Invoice Reports</a>
    <!-- Vehicle Owner menu -->
    <button class="dropdown-btn align-self-baseline"> Vechicle Owner
        <i class="fa fa-caret-down mt-1"></i>
    </button>
    <div class="dropdown-container">
        <a href="#">Vehicle Owner Request</a>
        <a href="#">All Vehicle Owners</a>
    </div>
    <a href="#resale">Resale</a>
    <a href="#rewards">Rewards</a>
</div>
      