#right_side_pane
{
    position: absolute;
    display: none;
    height: 100vh;
    overflow-y: scroll;
    width: 0%;
}
#right_side_pane > div:first-child
{
    position: fixed;
    z-index: 5;
    width: 49%;
    background: rgb(92, 86, 86);
    
}
#right_side_pane > div:last-child
{
   margin-top: 100px;
}
#right_side_pane #document_container img
{
    width: inherit;
    margin-bottom: 25px;
}